<div class="col-sm-3 col-xs-12 glAnalytics">
    <span class="largeNumber primaryGreen">{{inverter.power}} kW</span>
    <span class="uppercase">Current Power</span>
    <div class="row glStats">
        <div class="onethird">
            <span class="black">{{inverter.generation}} kWh</span>
            <span class="uppercase">Generation </span>
        </div>
        <div class="onethird">
            <span class="black">{{inverter.capacity}} kW</span>
            <span class="uppercase">Capacity</span>
        </div>
        <div class="onethird">
            <span class="black">{{inverter.total_yield}} kW</span>
            <span class="uppercase">Total Power</span>
        </div>
    </div>
</div>